@font-face {
  font-family: 'Transport';
  src: local('Transport'), url(./fonts/Transport.ttf) format('truetype');
}


body {
  font-family: "Source Sans 3" !important;
  overflow:hidden;
}

.button-submit {
  background-color: #e49431 !important;
  border-color:  #e49431 !important;
  color: #0c1b39 !important;
}

.button-submit:active {
  background-color: #0c1b39 !important;
  border-color:  #0c1b39 !important;
  color: #e49431 !important;

}

.leaderboard {
  color:  #e49431 !important;
  font-weight: 500 !important;
  .leaderboard-title {
    font-size: 1.75em !important;
  }
  .leaderboard-header{
    font-size: 1em !important;
    font-weight: 100;
  }
}

.clues {
  color:  #e49431 !important;
  font-weight: 500 !important;
  .clue-title {
    font-size: 2.5em !important;
  }
  
  .clue {
    font-size: 1.75em !important;
  }
  
  .clue-mark {
    color:  #e49431 !important; 
    font-size: 1.75em !important;
  }

}

.clue-message {
  font-family: "Source Sans 3" !important;
  font-size: 3em;
  font-weight: 500;
  color:white;
}



.gold-icon {
  filter: invert(83%) sepia(91%) saturate(507%) hue-rotate(324deg) brightness(86%) contrast(91%);
}

.silver-icon {
  filter: invert(80%) sepia(18%) saturate(7%) hue-rotate(42deg) brightness(93%) contrast(92%);
}

.bronze-icon {
  filter: invert(53%) sepia(61%) saturate(555%) hue-rotate(349deg) brightness(91%) contrast(86%);  
}

.medal-container {
  img {
    height: 150px;
  }
}

.award {
  font-family: "Source Sans 3" !important;
  font-size: 1.75em;
  font-weight: 500;
  color:  #e49431 !important; 
  text-shadow: 1px 1px black;
}

.ol-attribution {
  display: none !important;
}

.ol-rotate {
  display: none !important;
}

.ol-zoom {
  display: none !important;
}

#trophy {
  height: 25%;
  position: absolute;
  z-index: 3;
  margin-left: 10px;
  display: none;
}

#next-question-countdown {
  font-family:"Transport";
  display:block;
  font-size:1.25em;
  color: white;
  z-index: 3;
  width: 200px;
  height: 73px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-image: url("../public/images/next-question.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.showmessage {
  animation: raise-message 1 ease-in 0.5s forwards;
}

.hidemessage {
  
  animation: fadeout-message 1 ease-in 1s forwards ;
}

.message-container {
  z-index:10;
  position: absolute;
  width: 250px !important;
  height: 190px;
  border: 1px solid white;
  border-radius: 5%;
  right: 10px;
}


@keyframes raise-message {
 0% {
  bottom: -190px
 }
 100% {
  bottom: 10px;
 }
}
@keyframes fadeout-message {
  0% { opacity: 1; bottom:10px;}
  100% { opacity: 0; bottom:10px;}
}